/dist
coverage/
coverage.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.env*
!.env*.default
!.vscode/settings.json.default

cache/
artifacts/

.yalc
yalc.lock

# Upgrades
.openzeppelin/unknown-31337.json
.openzeppelin/unknown-1337.json