@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-gray-900 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 m-1 inline-block
    bg-gray-800 text-white cursor-pointer
    hover:bg-gray-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.secondary {
  @apply border-2 border-black bg-white text-black border-2 hover:bg-gray-900 hover:!text-white;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-gray-600;
  font-size: 0.9em;
}

.filter {
  @apply
    m-1 p-1 cursor-pointer inline-block bg-gray-200 w-20 text-center;
  &.active {
    @apply bg-black text-white ;
  }
}
