@import './markdown.css';

html,
body,
#app {
  @apply antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-gray-900 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-8 py-2 inline-block 
    bg-black text-white cursor-pointer border-black border-2
    hover:bg-gray-800
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.secondary {
  @apply border-2 border-black bg-white text-black border-2 hover:bg-gray-900 hover:!text-white;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-gray-600;
  font-size: 0.9em;
}

.input {
  @apply border-black border-2 p-2 outline-none text-center;
}

.filter {
  @apply
    m-1 p-1 cursor-pointer inline-block bg-white w-20 text-center hover:bg-gray-100;
  &.active {
    @apply bg-gray-200 hover:bg-gray-300;
  }
}

.loading:after {
  content: '.';
  animation: dots 3s steps(1, end) infinite;
}

@keyframes dots {
  0% {
    color: black;
    text-shadow:
      0.6em 0 0 rgba(0,0,0,0),
      1.2em 0 0 rgba(0,0,0,0);
  }
  33%, 66% {
    color: black;
    text-shadow:
      0.6em 0 0 black,
      1.2em 0 0 rgba(0,0,0,0);
  }
  66%, 100% {
    text-shadow:
      0.6em 0 0 black,
      1.2em 0 0 black;
  }
}